body {
  font-size: 14px;
  max-width: 100%;
  background-color: #f1f3f6; }

.header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea; }
  .header .header-link {
    height: 60px;
    padding: 18px 26px 17px 26px;
    font-size: 14px;
    float: left;
    border-right: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    margin-right: 15px;
    background: #f7f9fa;
    cursor: pointer; }
    .header .header-link .nav-open {
      display: inline-block; }
    .header .header-link .nav-close {
      display: none; }
  .header .small-logo {
    display: block;
    padding-top: 18px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase; }

.menu {
  width: 200px;
  bottom: 0;
  float: left;
  left: 0;
  z-index: 999;
  position: fixed;
  top: 60px;
  margin-left: -200px;
  background-color: #fff;
  transition: margin .4s ease 0s;
  border-right: 1px solid #eaeaea; }
  .menu .menu-user {
    font-weight: 700;
    text-align: center;
    padding: 30px 15px;
    background: #fff;
    border-bottom: 1px solid #eaeaea; }
  .menu > ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .menu > ul > li {
      border-bottom: 1px solid #eaeaea; }
      .menu > ul > li > a {
        width: 100%;
        color: #6a6c6f;
        outline: none;
        font-size: 12px;
        display: inline-block;
        text-transform: uppercase;
        font-weight: 700;
        padding: 15px 15px;
        background-color: #f7f9fa; }
        .menu > ul > li > a:hover {
          background: #fff;
          text-decoration: none; }

.show-menu .menu {
  margin-left: 0;
  transition: margin .4s ease 0s; }
@media (min-width: 768px) {
  .show-menu .wrapper {
    margin-left: 200px;
    transition: margin .4s ease 0s; } }

.wrapper {
  min-height: 100%;
  position: relative;
  transition: margin .4s ease 0s; }

h2 {
  margin-bottom: 25px; }

.content {
  top: 60px;
  min-width: 320px;
  padding: 15px 0 40px 0;
  position: relative; }

.box {
  padding: 20px 25px 15px 25px;
  background: #fff;
  margin-bottom: 25px;
  border: 1px solid #eaeaea;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .box h3 {
    padding: 0;
    font-size: 20px;
    margin: 0 0 15px 0; }

.label-left {
  padding: 6px 0;
  display: inline-block; }

.btn-line {
  color: #127964;
  display: inline-block;
  border-bottom: 1px dashed #0d5a4a; }
  .btn-line:hover {
    text-decoration: none;
    border-bottom-color: transparent; }

.ibox {
  margin-bottom: 15px; }
  .ibox.ibox-white {
    padding: 10px 15px;
    background: #fff;
    border: 1px solid #eaeaea;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px; }
  .ibox .ibox-toggle {
    cursor: pointer; }
  .ibox.open .ibox-tools .fa-chevron-up {
    display: inline-block; }
  .ibox.open .ibox-tools .fa-chevron-down {
    display: none; }
  .ibox.open .table tbody > tr {
    display: table-row; }
  .ibox.open .ibox-title {
    margin-bottom: 15px;
    border-color: #18a689; }
  .ibox.open .ibox-content {
    display: block;
    padding-bottom: 20px; }
    .ibox.open .ibox-content .schedule {
      padding-bottom: 25px;
      border-bottom: 3px solid #bbb; }
  .ibox .ibox-tools {
    float: right;
    color: #9d9fa2; }
    .ibox .ibox-tools a {
      color: #9d9fa2;
      cursor: pointer;
      margin-left: 5px;
      text-decoration: none;
      display: inline-block; }
      .ibox .ibox-tools a:hover {
        color: #1c242b; }
    .ibox .ibox-tools .fa-chevron-up {
      display: none; }
    .ibox .ibox-tools .fa-chevron-down {
      display: inline-block; }
  .ibox .ibox-content {
    display: none; }
  .ibox .table {
    margin-bottom: 0; }
    .ibox .table td:first-child {
      padding-left: 0; }
    .ibox .table td:last-child {
      padding-right: 0; }
    .ibox .table thead {
      border-bottom: none; }
      .ibox .table thead th {
        padding-left: 0;
        padding-right: 0;
        border-bottom: none; }
    .ibox .table tbody > tr {
      display: none; }
      .ibox .table tbody > tr:first-child {
        display: table-row; }
  .ibox .ibox-title {
    background: #fff;
    padding: 10px 15px;
    position: relative;
    border: 1px solid #fff; }

.plan {
  overflow: hidden;
  position: relative;
  margin: 0 -10px 0 -10px; }
  .plan .plan-week {
    display: none; }
    .plan .plan-week.current {
      display: block; }
    .plan .plan-week .view-week {
      display: block; }
    .plan .plan-week .view-list {
      display: none; }
  .plan.switch .plan-week .view-week {
    display: none; }
  .plan.switch .plan-week .view-list {
    display: block; }
  .plan .plan-title {
    width: 180px;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    margin: 0 0 10px 10px; }
  .plan .plan-head {
    margin: 0 10px;
    position: relative; }
    .plan .plan-head .plan-nav {
      width: 180px;
      position: relative; }
      .plan .plan-head .plan-nav a {
        top: 0;
        color: #000;
        padding: 1px 2px;
        font-size: 18px;
        line-height: 18px;
        position: absolute;
        display: inline-block; }
        .plan .plan-head .plan-nav a.plan-prev {
          left: 0; }
        .plan .plan-head .plan-nav a.plan-next {
          right: 0; }
    .plan .plan-head .plan-switch {
      top: 0;
      right: 0;
      color: #000;
      position: absolute;
      text-decoration: underline; }
      .plan .plan-head .plan-switch .plan-switch-week {
        display: none; }
      .plan .plan-head .plan-switch .plan-switch-list {
        display: inline; }
      .plan .plan-head .plan-switch.switch .plan-switch-week {
        display: inline; }
      .plan .plan-head .plan-switch.switch .plan-switch-list {
        display: none; }

.week-table {
  width: 100%;
  background: #fff; }
  .week-table td,
  .week-table th {
    font-size: 11px;
    line-height: 15px;
    border: 1px solid #ddd; }
    .week-table td.date-current,
    .week-table th.date-current {
      background: #fff5a3; }
  .week-table a {
    color: #000;
    width: 100%;
    height: 100%;
    padding: 5px 2px;
    display: inline-block;
    text-decoration: none; }
  .week-table td {
    text-align: center;
    position: relative; }
    .week-table td.course:before {
      top: 0;
      left: 0;
      right: -1px;
      bottom: 0;
      z-index: 2;
      content: '';
      position: absolute;
      border-top: 1px solid green;
      border-bottom: 1px solid green; }
    .week-table td.course.first:before {
      left: -1px;
      border-left: 1px solid green; }
    .week-table td.course.last:before {
      border-right: 1px solid green; }
    .week-table td a {
      z-index: 5;
      color: #000;
      position: relative;
      background: #dbdbdb; }
      .week-table td a.plan-success {
        background: #8bfd98; }
      .week-table td a.plan-cancel {
        background: #ff4b4b; }
      .week-table td a.plan-new {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        background: transparent;
        border: 1px solid transparent; }
        .week-table td a.plan-new:hover {
          border-color: #f5f5f5;
          background: #f5f5f5; }
    .week-table td .plan-weekend {
      color: #fff;
      width: 100%;
      height: 100%;
      padding: 5px;
      display: none;
      background: #ececec; }
    .week-table td:nth-child(7), .week-table td:nth-child(8) {
      background: #f5f5f5; }
  .week-table .plan-info {
    padding: 5px; }
    .week-table .plan-info a {
      padding: 0; }
    .week-table .plan-info span {
      padding: 3px 0;
      display: block;
      max-width: 105px;
      overflow: hidden;
      white-space: nowrap; }
  .week-table .week-head th {
    font-size: 9px;
    padding: 5px 2px;
    text-align: center; }
    .week-table .week-head th span {
      display: block; }
  .week-table .week-content th {
    font-weight: 400; }

.list-table {
  width: 100%;
  background: #fff; }
  .list-table tr.date-current th {
    background: #929200; }
  .list-table tr.date-current td {
    background: #fff5a3; }
  .list-table .list-head th {
    padding: 5px;
    overflow: hidden;
    position: relative;
    background: #cccccc; }
    .list-table .list-head th .week-day {
      float: left; }
    .list-table .list-head th .week-date {
      float: right; }
  .list-table td,
  .list-table th {
    font-size: 11px;
    line-height: 15px;
    border: 1px solid #ddd;
    vertical-align: middle; }
  .list-table a {
    color: #000;
    display: inline-block;
    text-decoration: none; }
  .list-table .weekend {
    color: #000;
    width: 100%;
    height: 100%;
    padding: 5px;
    display: inline-block;
    text-decoration: none; }
  .list-table td {
    padding: 5px; }
    .list-table td:nth-child(2) {
      padding-top: 3px;
      text-align: center; }
    .list-table td:last-child {
      padding: 5px 0; }
      .list-table td:last-child span {
        padding: 0 5px;
        display: inline-block; }
  .list-table .plan-status {
    width: 20px;
    height: 20px;
    background: #ccc;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .list-table .plan-status.plan-success {
      background: #8bfd98; }
    .list-table .plan-status.plan-cancel {
      background: #ff4b4b; }
    .list-table .plan-status.plan-weekend {
      color: #fff;
      padding: 5px;
      background: #676767;
      display: inline-block; }

.schedule {
  position: relative; }
  .schedule .schedule-nav {
    top: 0;
    left: 50%;
    width: 240px;
    margin: 0 0 0 -120px;
    padding: 0;
    list-style: none;
    overflow: hidden;
    position: absolute; }
    .schedule .schedule-nav li {
      display: block; }
      .schedule .schedule-nav li:first-child {
        float: left; }
      .schedule .schedule-nav li:last-child {
        float: right; }
  .schedule .weak {
    width: 160px;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    margin: 0 auto 10px auto; }
  .schedule .tabs-nav {
    padding: 0;
    width: 100%;
    font-size: 0;
    line-height: 0;
    display: table;
    list-style: none;
    overflow: hidden;
    margin: 0 0 30px 0;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px; }
    .schedule .tabs-nav li {
      display: table-cell; }
      .schedule .tabs-nav li a {
        color: #444;
        width: 100%;
        padding: 10px;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        text-decoration: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px; }
      .schedule .tabs-nav li.active a {
        color: #fff;
        background: #18a689; }
    .schedule .tabs-nav .tabs-nav-sm {
      display: inline; }
    .schedule .tabs-nav .tabs-nav-md {
      display: none; }
  .schedule .schedule-user {
    background: #fff;
    padding: 20px 15px;
    text-align: center;
    margin: 0 0 20px 0;
    border: 1px solid #bbb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px; }
    .schedule .schedule-user.schedule-success {
      border-color: #3dc567;
      background-color: rgba(61, 197, 103, 0.05); }
    .schedule .schedule-user.schedule-cancel {
      border-color: #c80000;
      background-color: rgba(200, 0, 0, 0.05); }
    .schedule .schedule-user > ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .schedule .schedule-user > ul li {
        padding: 4px 0; }
        .schedule .schedule-user > ul li .btn {
          width: 44px;
          margin: 0 4px; }
      .schedule .schedule-user > ul .user-time {
        font-size: 16px;
        font-weight: 700; }
    .schedule .schedule-user.weekend {
      color: #fff;
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: 14px;
      font-weight: 700;
      background: #adadad;
      border-color: #adadad; }
    .schedule .schedule-user .user-phone a {
      color: #0a0a0a;
      font-weight: 700; }
  .schedule .schedule-program {
    padding: 30px;
    text-align: center;
    margin-bottom: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.6); }
    .schedule .schedule-program .program-time {
      font-size: 12px;
      text-align: center; }
    .schedule .schedule-program .program-name {
      color: #fff;
      padding: 8px 0;
      font-size: 18px;
      font-weight: 600; }
    .schedule .schedule-program .program-text {
      font-size: 16px;
      margin-bottom: 5px; }
    .schedule .schedule-program .program-instructor {
      font-size: 13px; }

.schedule-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.tabs .tabs-item {
  display: none; }
  .tabs .tabs-item.active {
    display: block; }

.modal-box {
  padding: 15px 10px;
  width: 300px; }
  .modal-box.modal-box-sm {
    width: 270px;
    overflow: hidden; }
  .modal-box .modal-title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px; }
    .modal-box .modal-title span {
      display: block; }
  .modal-box .form-group-title {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    display: block;
    margin-bottom: 10px; }
  .modal-box .form-label {
    font-weight: 400;
    display: inline-block; }

.form-sm {
  width: 100px;
  margin-left: auto;
  margin-right: auto; }

.fancybox-caption-wrap {
  display: none !important; }

.xdsoft_datetimepicker {
  z-index: 99999 !important; }

.fc-event {
  border: 1px solid #bbbbbb;
  background-color: #bbbbbb; }

.fc-event-dot {
  background-color: #bbbbbb; }

.fc-toolbar .fc-left {
  margin-bottom: 15px; }
.fc-toolbar .fc-right {
  float: left;
  margin-bottom: 15px; }

.fc-view-container {
  background: #fff; }

.fc-scroller {
  height: auto !important;
  overflow-x: auto !important;
  overflow-y: auto !important; }

.pagination {
  display: block; }

.top-bar {
  margin: 0 -10px 30px -10px; }
  .top-bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: table;
    width: 100%; }
    .top-bar ul li {
      padding: 0 10px;
      display: table-cell;
      vertical-align: top; }

.mb30 {
  margin-bottom: 30px; }

/*# sourceMappingURL=mobile.css.map */
