// Core variables and mixins
@import "var";
@import "mixins/vendor-prefixes";

body {
	font-size: 14px;
	max-width: 100%;
	background-color: #f1f3f6;

}



.header {
	width: 100%;
	position: fixed;
	z-index: 1000;
	background-color: #fff;
	border-bottom: 1px solid #eaeaea;

	.header-link {
		height: 60px;
		padding: 18px 26px 17px 26px;
		font-size: 14px;
		float: left;
		border-right: 1px solid #eaeaea;
		border-left: 1px solid #eaeaea;
		margin-right: 15px;
		background: #f7f9fa;
		cursor: pointer;

		.nav-open {
			display: inline-block;
		}

		.nav-close {
			display: none;
		}
	}

	.small-logo {
		display: block;
		padding-top: 18px;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
	}
}

.menu {
	width: 200px;
	bottom: 0;
	float: left;
	left: 0;
	z-index: 999;
	position: fixed;
	top: 60px;
	margin-left: -200px;
	background-color: #fff;
	transition: margin .4s ease 0s;
	border-right: 1px solid #eaeaea;

	.menu-user {
		font-weight: 700;
		text-align: center;
		padding: 30px 15px;
		background: #fff;
		border-bottom: 1px solid #eaeaea;
	}

	> ul {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			border-bottom: 1px solid #eaeaea;

			> a  {
				width: 100%;
				color: #6a6c6f;
				outline: none;
				font-size: 12px;
				display: inline-block;
				text-transform: uppercase;
				font-weight: 700;
				padding: 15px 15px;
				background-color: #f7f9fa;

				&:hover {
					background: #fff;
					text-decoration: none;
				}
			}
		}
	}
}


.show-menu {

	.menu {
		margin-left: 0;
		transition: margin .4s ease 0s;
	}

	@media (min-width: $screen-sm-min) {

		.wrapper {
			margin-left: 200px;
			transition: margin .4s ease 0s;
		}
	}
}

.wrapper {
	min-height: 100%;
	position: relative;
	transition: margin .4s ease 0s;
}


h2 {
	margin-bottom: 25px;
}

.content {
	top: 60px;
	min-width: 320px;
	padding: 15px 0 40px 0;
	position: relative;
}


.box {
	padding: 20px 25px 15px 25px;
	background: #fff;
	margin-bottom: 25px;
	border: 1px solid #eaeaea;
	@include border-radius(3px);

	h3 {
		padding: 0;
		font-size: 20px;
		margin: 0 0 15px 0;
	}
}

.label-left {
	padding: 6px 0;
	display: inline-block;
}

.btn-line {
	color: #127964;
	display: inline-block;
	border-bottom: 1px dashed #0d5a4a;

	&:hover {
		text-decoration: none;
		border-bottom-color: transparent;
	}
}

.ibox {
	margin-bottom: 15px;

	&.ibox-white {
		padding: 10px 15px;
		background: #fff;
		border: 1px solid #eaeaea;
		@include border-radius(3px);
	}

	.ibox-toggle {
		cursor: pointer;
	}


	&.open {

		.ibox-tools {

			.fa-chevron-up {
				display: inline-block;
			}

			.fa-chevron-down {
				display: none;
			}
		}

		.table {

			tbody {

				> tr {
					display: table-row;
				}
			}
		}

		.ibox-title {
			margin-bottom: 15px;
			border-color: #18a689;
		}

		.ibox-content {
			display: block;
			padding-bottom: 20px;

			.schedule {
				padding-bottom: 25px;
				border-bottom: 3px solid #bbb;
			}
		}

	}

	.ibox-tools {
		float: right;
		color: #9d9fa2;

		a {
			color: #9d9fa2;
			cursor: pointer;
			margin-left: 5px;
			text-decoration: none;
			display: inline-block;

			&:hover {
				color: #1c242b;
			}
		}

		.fa-chevron-up {
			display: none;
		}

		.fa-chevron-down {
			display: inline-block;
		}
	}

	.ibox-content {
		display: none;
	}

	.table {
		margin-bottom: 0;

		th {

		}

		td {
			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}

		thead {
			border-bottom: none;

			th {
				padding-left: 0;
				padding-right: 0;
				border-bottom: none;
			}
		}

		tbody {

			> tr {
				display: none;

				&:first-child {
					display: table-row;
				}
			}
		}

	}

	.ibox-title {
		background: #fff;
		padding: 10px 15px;
		position: relative;
		border: 1px solid #fff;
	}
}


// Расписание общее

.plan {
	overflow: hidden;
	position: relative;
	margin: 0 -10px 0 -10px;

	.plan-week {
		display: none;

		&.current {
			display: block;
		}

		.view-week {
			display: block;
		}

		.view-list {
			display: none;
		}
	}

	&.switch {

		.plan-week {

			.view-week {
				display: none;
			}

			.view-list {
				display: block;
			}
		}
	}

	.plan-title {
		width: 180px;
		font-size: 18px;
		font-weight: 700;
		line-height: 20px;
		text-align: center;
		margin: 0 0 10px 10px;
	}

	.plan-head {
		margin: 0 10px;
		position: relative;

		.plan-nav {
			width: 180px;
			position: relative;

			a {
				top: 0;
				color: #000;
				padding: 1px 2px;
				font-size: 18px;
				line-height: 18px;
				position: absolute;
				display: inline-block;

				&.plan-prev {
					left: 0;
				}

				&.plan-next {
					right: 0;
				}
			}
		}

		.plan-switch {
			top: 0;
			right: 0;
			color: #000;
			position: absolute;
			text-decoration: underline;

			.plan-switch-week {
				display: none;
			}

			.plan-switch-list {
				display: inline;
			}

			&.switch {

				.plan-switch-week {
					display: inline;
				}

				.plan-switch-list {
					display: none;
				}
			}
		}
	}


}

.week-table {
	width: 100%;
	background: #fff;

	td,
	th {

		font-size: 11px;
		line-height: 15px;
		border: 1px solid #ddd;

		&.date-current {
			background: #fff5a3;
		}
	}

	a {
		color: #000;
		width: 100%;
		height: 100%;
		padding: 5px 2px;
		display: inline-block;
		text-decoration: none;
	}

	td {
		text-align: center;
		position: relative;

		&.course {


			&:before {
				top: 0;
				left: 0;
				right: -1px;
				bottom: 0;
				z-index: 2;
				content: '';
				position: absolute;
				border-top: 1px solid green;
				border-bottom: 1px solid green;
			}

			&.first {

				&:before {
					left: -1px;
					border-left: 1px solid green;
				}
			}


			&.last{

				&:before {
					border-right: 1px solid green;
				}
			}
		}

		a {
			z-index: 5;
			color: #000;
			position: relative;
			background: #dbdbdb;

			&.plan-success {
				background: #8bfd98;
			}


			&.plan-cancel {
				background: #ff4b4b;
			}

			&.plan-new {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				position: absolute;
				background: transparent;
				border: 1px solid transparent;

				&:hover {
					border-color: #f5f5f5;
					background: #f5f5f5;
				}
			}
		}

		.plan-weekend {
			color: #fff;
			width: 100%;
			height: 100%;
			padding: 5px;
			display: none;
			background: #ececec;
		}

		&:nth-child(7),
		&:nth-child(8) {
			background: #f5f5f5;
		}
	}

	.plan-info {
		padding: 5px;

		a {
			padding: 0;
		}

		span {
			padding: 3px 0;
			display: block;
			max-width: 105px;
			overflow: hidden;
			white-space: nowrap;
		}
	}

	.week-head {

		th {
			font-size: 9px;
			padding: 5px 2px;
			text-align: center;

			span {
				display: block;
			}
		}
	}

	.week-content {

		th {
			font-weight: 400;
		}
	}
}

.list-table {
	width: 100%;
	background: #fff;

	tr {

		&.date-current {

			th {
				background: #929200;
			}

			td {
				background: #fff5a3;
			}
		}
	}

	.list-head {

		th {
			padding: 5px;
			overflow: hidden;
			position: relative;
			background: #cccccc;

			.week-day {
				float: left;
			}

			.week-date {
				float: right;
			}
		}
	}


	td,
	th {

		font-size: 11px;
		line-height: 15px;
		border: 1px solid #ddd;
		vertical-align: middle;
	}

	a {
		color: #000;
		display: inline-block;
		text-decoration: none;
	}

	.weekend {
		color: #000;
		width: 100%;
		height: 100%;
		padding: 5px;
		display: inline-block;
		text-decoration: none;
	}

	td {
		padding: 5px;

		&:nth-child(2) {
			padding-top: 3px;
			text-align: center;
		}

		&:last-child {
			padding: 5px 0;

			span {
				padding: 0 5px;
				display: inline-block;
			}
		}
	}

	.plan-status {
		width: 20px;
		height: 20px;
		background: #ccc;
		@include border-radius(50%);


		&.plan-success {
			background: #8bfd98;
		}


		&.plan-cancel {
			background: #ff4b4b;
		}

		&.plan-weekend {
			color: #fff;
			padding: 5px;
			background: #676767;
			display: inline-block;
		}
	}
}


// Расписание

.schedule {
	position: relative;

	.schedule-nav {
		top: 0;
		left: 50%;
		width: 240px;
		margin: 0 0 0 -120px;
		padding: 0;
		list-style: none;
		overflow: hidden;
		position: absolute;

		li {
			display: block;

			&:first-child {
				float: left;
			}

			&:last-child {
				float: right;
			}

			.btn {

			}
		}
	}

	.weak {
		width: 160px;
		padding: 10px 0;
		font-size: 18px;
		font-weight: 700;
		line-height: 20px;
		text-align: center;
		margin: 0 auto 10px auto;
	}

	.tabs-nav {
		padding: 0;
		width: 100%;
		font-size: 0;
		line-height: 0;
		display: table;
		list-style: none;
		overflow: hidden;
		margin: 0 0 30px 0;
		background: #fff;
		@include border-radius(3px);

		li {
			display: table-cell;

			a {
				color: #444;
				width: 100%;
				padding: 10px;
				font-size: 14px;
				line-height: 20px;
				text-align: center;
				display: inline-block;
				vertical-align: middle;
				text-decoration: none;
				@include border-radius(3px);
			}


			&.active {

				a {
					color: #fff;
					background: #18a689;
				}
			}
		}

		.tabs-nav-sm {
			display: inline;
		}

		.tabs-nav-md {
			display: none;
		}
	}

	.schedule-user {
		background: #fff;
		padding: 20px 15px;
		text-align: center;
		margin: 0 0 20px 0;
		border: 1px solid #bbb;
		@include border-radius(3px);

		&.schedule-success {
			border-color: #3dc567;
			background-color: rgba(61,197,103, 0.05);
		}

		&.schedule-cancel {
			border-color: #c80000;
			background-color: rgba(200,0,0, 0.05);
		}

		> ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				padding: 4px 0;

				.btn {
					width: 44px;
					margin: 0 4px;
				}
			}
			.user-time {
				font-size: 16px;
				font-weight: 700;
			}
		}

		&.weekend {
			color: #fff;
			padding-top: 30px;
			padding-bottom: 30px;
			font-size: 14px;
			font-weight: 700;
			background: #adadad;
			border-color: #adadad;
		}

		.user-phone {
			a {
				color: #0a0a0a;
				font-weight: 700;
			}
		}
	}

	.schedule-program {
		padding: 30px;
		text-align: center;
		margin-bottom: 20px;
		@include border-radius(4px);
		background: rgba(0, 0, 0, 0.6);

		.program-time {
			font-size: 12px;
			text-align: center;
		}

		.program-name {
			color: #fff;
			padding: 8px 0;
			font-size: 18px;
			font-weight: 600;
		}

		.program-text {
			font-size: 16px;
			margin-bottom: 5px;
		}

		.program-instructor {
			font-size: 13px;
		}
	}


	@media (min-width: $screen-sm-min) {

		.tabs-nav {

		}
	}

	@media (min-width: $screen-md-min) {

		.tabs-nav {

		}
	}
}

.schedule-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.tabs {

	.tabs-item {
		display: none;

		&.active {
			display: block;
		}
	}
}


// Modals

.modal-box {
	padding: 15px 10px;
	width: 300px;


	&.modal-box-sm {
		width: 270px;
		overflow: hidden;
	}

	.modal-title {
		font-size: 18px;
		text-align: center;
		margin-bottom: 15px;

		span {
			display: block;
		}
	}

	.form-group-title {
		font-size: 15px;
		font-weight: 700;
		text-align: center;
		display: block;
		margin-bottom: 10px;
	}

	.form-label {
		font-weight: 400;
		display: inline-block;
	}

}

.form-sm {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

.fancybox-caption-wrap {
	display: none !important;
}

.xdsoft_datetimepicker {
	z-index: 99999 !important;
}


// Calendar

.fc-event {
	border: 1px solid #bbbbbb;
	background-color: #bbbbbb;
}

.fc-event-dot {
	background-color: #bbbbbb;

}

.fc-toolbar {

	.fc-left {
		margin-bottom: 15px;
	}

	.fc-right {
		float: left;
		margin-bottom: 15px;
	}
}

.fc-view-container {
	background: #fff;
}

.fc-scroller {
	height: auto !important;
	overflow-x: auto !important;
	overflow-y: auto !important;
}

.pagination {
	display: block;
}


.top-bar {
	margin: 0 -10px 30px -10px;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: table;
		width: 100%;

		li {
			padding: 0 10px;
			display: table-cell;
			vertical-align: top;
		}
	}
}

.mb30 {
	margin-bottom: 30px;
}